* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background: black;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 9%;
}
.card {
  background: white;
  width: 450px;
  height: 300px;
}
.card-image {
  background-color: aqua;
  height: 300px;
  background-image: url(./rick-sanchez.jpg);
  background-size: cover;
  border: solid 2px #fff;
}

.box1 h1 {
  width: 75px;
  text-align: left;
  font-size: 16px;
  color: black;
  background-color: #fff;
  opacity: 0.5;
  display: relative;
  border-radius: 20px;
  border: solid mediumspringgreen;
  margin-top: 25px;
  margin-left: 385px;
}

.box2 h1 {
  width: 75px;
  text-align: left;
  font-size: 16px;
  color: black;
  background-color: #fff;
  opacity: 0.5;
  display: relative;
  border-radius: 20px;
  border: solid mediumspringgreen;
  margin-left: 385px;
  margin-top: 10px;
}
